---
import Layout from "../layouts/Layout.astro";
---
<Layout
  title='About - Pedro A. Sota'
  description='Goofing around'
>
<main class='container mx-auto'>
  <div class='flex flex-col items-center justify-center text-center pt-16 pb-8'>
    <h1 class=' md:text-4xl lg:text-5xl font-secondary text-pretty opacity-80 text-5xl'>
      bio.
    </h1>
    <p class='text-xl lg:text-2xl text-pretty max-w-[650px] z-10 mt-4'>
      I'm a Web Developer based in Córdoba, Argentina 🇦🇷. I specialize in creating dynamic and engaging web applications. I love experimenting with new technologies and frameworks to build innovative solutions.
    </p>
  </div>
'</main>
</Layout>