---
const year = new Date().getFullYear();
---
<footer
  class='absolute bottom-0 right-0 left-0 rounded-lg shadow m-4 bg-black/10 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10'
>
  <div
    class='w-full mx-auto max-w-screen-xl p-4 gap-y-4 flex flex-col md:flex-row items-center justify-evenly'
  >
    <span class='text-sm text-gray-500 sm:text-center dark:text-zinc-300'
      >© {year} <a
        href='https://www.linkedin.com/in/pedroa-sota/'
        class='hover:underline'>Pedro A. Sota Taier</a
      >.
    </span>
    <span>
      <a href='https://astro.build'
        ><img
          src='https://astro.badg.es/v2/built-with-astro/tiny.svg'
          alt='Built with Astro'
          width='120'
          height='20'
        /></a
      >
    </span>
    
  </div>
</footer>
